@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .loading-bar {
        width: 4px;
        height: 50px;
        animation: scale 0.9s ease-in-out infinite;
    }

    @keyframes scale {
        0%,
        40%,
        100% {
            transform: scaleY(0.05);
        }
        20% {
            transform: scaleY(1);
        }
    }

    /* From Uiverse.io by gagan-gv */
    .btn-navbar {
        width: 150px;
        height: 50px;
        border-radius: 5px;
        border: none;
        transition: all 0.5s ease-in-out;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        display: flex;
        align-items: center;
        background: #040f16;
        color: #f5f5f5;
    }

    .btn-navbar:hover {
        box-shadow: 0 0 20px 0px #2e2e2e3a;
    }

    .btn-navbar .icon {
        position: absolute;
        height: 40px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
    }

    .btn-navbar .text {
        transform: translateX(55px);
    }

    .btn-navbar:hover .icon {
        width: 175px;
    }

    .btn-navbar:hover .text {
        transition: all 0.5s;
        opacity: 0;
    }

    .btn-navbar:focus {
        outline: none;
    }

    .btn-navbar:active .icon {
        transform: scale(0.85);
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* From Uiverse.io by gagan-gv */
.btn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #040f16;
    color: #f5f5f5;
}

.btn:hover {
    box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
    position: absolute;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.btn .text {
    transform: translateX(55px);
}

.btn:hover .icon {
    width: 175px;
}

.btn:hover .text {
    transition: all 0.5s;
    opacity: 0;
}

.btn:focus {
    outline: none;
}

.btn:active .icon {
    transform: scale(0.85);
}

@layer base {
    :root {
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
    .dark {
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}
